* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('./img/bg.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    color: #d7d5d5;
    transition: all .5s;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

@media (max-width: 952px) {
    .logo {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 12px;
    }

    .navbar {
        padding: 20px 30px;
    }
}



@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 47px;
        left: -100%;
        width: 100%;
        background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
        text-align: center;
        z-index: 1;
    }

    .nav-links.active {
        transform: translateX(100%);
    }

    .navbar {
        padding: 10px 15px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}